body {
  background-color: #000000;
  margin: 0;
}

canvas {
  left: 0px;
  position: absolute;
  top: 0px;
}

.gear-open-control-panel {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  right: 50px;
  top: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.9);
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
}
.gear-open-control-panel:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.gear-help-bubble {
  background-color: #222222;
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-size: 12pt;
  font-weight: 400;
  padding: 15px 20px;
  position: absolute;
  right: 120px;
  top: 47px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.9);
}
.gear-help-bubble .fa-arrow-right {
  font-size: 20pt;
  margin-left: 8px;
  vertical-align: -10%;
}

.panel-outer-container {
  padding-top: 50px;
  padding-bottom: 70px;
  overflow: hidden;
  width: 100%;
}
.panel-outer-container .panel-middle-container {
  display: inline-block;
  left: 50%;
  position: relative;
}
.panel-outer-container .panel-middle-container .panel-inner-container {
  display: inline-block;
  padding: 25px;
  position: relative;
  right: 50%;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  -webkit-box-shadow: 0px 10px 50px 20px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 10px 50px 20px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 10px 50px 20px rgba(0, 0, 0, 0.9);
}
.panel-outer-container .panel-middle-container .panel-inner-container.control-panel {
  background-color: #222222;
}
.panel-outer-container .panel-middle-container .panel-inner-container .fa-times-circle {
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.panel-outer-container .panel-middle-container .panel-inner-container .fa-times-circle:hover {
  color: rgba(255, 255, 255, 0.8);
}

.panel-title {
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-size: 35pt;
  font-weight: 700;
  text-align: center;
}

.panel-subtitle {
  color: #999999;
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
}
.panel-subtitle a {
  color: #66bfff;
  text-decoration: none;
}
.panel-subtitle a:hover {
  text-decoration: underline;
}
.panel-subtitle .about-icon {
  font-size: 20pt;
  margin-left: 30px;
  margin-right: 8px;
  vertical-align: -15%;
}

.panel-table {
  border-spacing: 0px;
  margin-top: 15px;
}
.panel-table td {
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-size: 12pt;
  padding: 10px;
  white-space: nowrap;
}
.panel-table td.label-cell {
  font-weight: 300;
  text-align: right;
}
.panel-table td.help-cell {
  position: relative;
  width: 1px;
}
.panel-table td.spacer-cell {
  max-width: 20px;
  min-width: 20px;
  width: 20px;
}
.panel-table td.button-cell {
  text-align: center;
}
.panel-table td .dynamic-value {
  background-color: #333333;
  display: inline-block;
  font-weight: 400;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.panel-table td select {
  background-color: #ffffff;
  border: 0;
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-size: 12pt;
  font-weight: 400;
}
.panel-table td button {
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-size: 12pt;
  font-weight: 400;
}
.panel-table td span.switchery {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
}
.panel-table td .help-marker {
  color: #666666;
  cursor: pointer;
  font-size: 20px;
}
.panel-table td .help-marker:hover {
  color: #e2e236;
}
.panel-table td .help-bubble {
  background-color: #707010;
  color: #ffffff;
  display: none;
  font-size: 11pt;
  left: 40px;
  padding: 15px 18px;
  position: absolute;
  top: 10px;
  z-index: 1000;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.6);
}
.panel-table td .mode-tab {
  background-color: rgba(0, 104, 179, 0.5);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: 1px;
  padding: 5px 15px;
}
.panel-table td .mode-tab:first-child {
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}
.panel-table td .mode-tab:last-child {
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
}
.panel-table td .mode-tab.mode-tab-active {
  background-color: #0068b3;
}
.panel-table td .mode-tab:not(.mode-tab-active):hover {
  background-color: rgba(0, 104, 179, 0.65);
}
