//--------------------  Global variables  --------------------//

$font-family: "Oxygen", "Helvetica", "Arial", sans-serif;

$dark-grey-background-color: #222222;

$unhovered-icon-color: hsla(0, 0%, 100%, 0.3);


//--------------------  Functions  --------------------//

@function create-help-color($lightness, $alpha: 1.0) {
    @return hsla(60, 75%, $lightness, $alpha);
}

@function create-control-color($lightness, $alpha: 1.0) {
    @return hsla(205, 100%, $lightness, $alpha);
}

@function create-support-color($lightness, $alpha: 1.0) {
    @return hsla(200, 100%, $lightness, $alpha);
}


//--------------------  Mixins  --------------------//

@mixin m-box-shadow($h-offset, $v-offset, $blur-radius, $spread-distance, $color) {
    -webkit-box-shadow: $h-offset $v-offset $blur-radius $spread-distance $color;
       -moz-box-shadow: $h-offset $v-offset $blur-radius $spread-distance $color;
            box-shadow: $h-offset $v-offset $blur-radius $spread-distance $color;
}

@mixin m-border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

@mixin m-border-radii($top-left, $top-right, $bottom-left, $bottom-right) {
    -webkit-border-top-left-radius: $top-left;
        -moz-border-radius-topleft: $top-left;
            border-top-left-radius: $top-left;
    -webkit-border-top-right-radius: $top-right;
        -moz-border-radius-topright: $top-right;
            border-top-right-radius: $top-right;
    -webkit-border-bottom-left-radius: $bottom-left;
        -moz-border-radius-bottomleft: $bottom-left;
            border-bottom-left-radius: $bottom-left;
    -webkit-border-bottom-right-radius: $bottom-right;
        -moz-border-radius-bottomright: $bottom-right;
            border-bottom-right-radius: $bottom-right;
}

@mixin m-transition-duration($duration) {
    -webkit-transition-duration: $duration;
       -moz-transition-duration: $duration;
            transition-duration: $duration;
}

@mixin m-transition-property($property) {
    -webkit-transition-property: $property;
       -moz-transition-property: $property;
            transition-property: $property;
}

@mixin m-transform($transform) {
    -webkit-transform: $transform;
       -moz-transform: $transform;
            transform: $transform;
}

@mixin m-transform-origin($origin) {
    -webkit-transform-origin: $origin;
       -moz-transform-origin: $origin;
            transform-origin: $origin;
}


//--------------------  Main  --------------------//

body {
    background-color: #000000;
    margin:           0;
}

.font-preloaders {
    color:       #000000;
    font-family: $font-family;
    left:        0px;
    position:    absolute;
    top:         0px;

    .light-text {
        font-weight: 300;
    }

    .normal-text {
        font-weight: 400;
    }

    .bold-text {
        font-weight: 700;
    }
}

canvas {
    left:     0px;
    position: absolute;
    top:      0px;
}

.toolbar {
    background-color: $dark-grey-background-color;
    cursor:           default;
    padding:          15px 15px;
    position:         absolute;
    right:            50px;
    top:              50px;
    @include m-border-radius(12px);
    @include m-box-shadow(0px, 6px, 30px, 20px, hsla(0, 0%, 0%, 0.9));
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    .fa {
        color:     #cccccc;
        font-size: 40px;

        &:not(:first-child) {
            margin-left: 10px;
        }

        &.fa-step-forward {
            @include m-transform(scale(1, 0.8));
        }

        &.fa-pause, &.fa-play {
            @include m-transform(scale(0.75, 0.8));
        }

        &.tool-disabled {
            opacity: 0.15;
        }

        &:not(.tool-disabled) {
            cursor: pointer;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

.panel-outer-container {
    bottom:      0px;
    left:        0px;
    overflow:    hidden;
    padding-top: 50px;
    position:    absolute;
    right:       0px;
    top:         0px;

    .panel-middle-container {
        display:  inline-block;
        left:     50%;
        position: relative;

        .panel-inner-container {
            display:  inline-block;
            padding:  25px;
            position: relative;
            right:    50%;
            @include m-border-radius(22px);
            @include m-box-shadow(0px, 15px, 60px, 40px, hsla(0, 0%, 0%, 0.75));

            &.control-panel {
                background-color: $dark-grey-background-color;
            }

            &.support-panel {
                background-color: create-support-color(15%);
            }

            &.keyboard-shortcuts-panel {
                background-color: hsl(270, 100%, 15%);
                min-width:        600px;
            }

            .fa-times-circle, .fa-bars {  // Icons: close panel & control menu
                color:     $unhovered-icon-color;
                cursor:    pointer;
                font-size: 30px;
                position:  absolute;
                top:       20px;

                &:hover {
                    color: hsla(0, 0%, 100%, 0.8);
                }
            }

            .fa-times-circle {  // Icon: close panel
                right: 20px;
            }

            .fa-bars {  // Icon: control menu
                left: 20px;

                &.control-menu-open {
                    color: create-control-color(70%);
                }
            }
        }
    }
}

.panel-title {
    color:       #ffffff;
    font-family: $font-family;
    font-size:   35pt;
    font-weight: 700;
    text-align:  center;

    .fa-frown-o {  // Error
        margin-left: 8px;
    }

    .fa-wrench {  // Troubleshooting
        margin-right: 8px;
    }

    .fa-keyboard-o {  // Keyboard shortcuts
        margin-right: 8px;
    }
}

.panel-subtitle {
    color:       #999999;
    font-family: $font-family;
    font-size:   11pt;
    font-weight: 400;
    margin-top:  10px;
    text-align:  center;
    white-space: nowrap;

    a {
        color:           create-control-color(70%);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.support-panel-scrolling-contents {
    color:       #ffffff;
    font-family: $font-family;
    font-size:   12pt;
    font-weight: 400;
    margin:      20px 10px 10px 10px;
    max-height:  250px;
    max-width:   600px;
    overflow-y:  auto;

    .support-heading {
        font-size:   15pt;
        font-weight: 700;
        margin-top:  1em;
    }

    .support-subcontainer {
        margin-top: 1em;
    }

    a {
        color:           create-support-color(66%);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.panel-table {
    border-spacing: 0px;
    margin-left:    auto;
    margin-right:   auto;
    margin-top:     15px;

    td {
        color:       #ffffff;
        font-family: $font-family;
        font-size:   12pt;
        padding:     10px;
        white-space: nowrap;

        &.label-cell {
            font-weight: 300;
            text-align:  right;
        }

        &.help-cell {
            position: relative;
            width:    1px;
        }

        &.spacer-cell {
            max-width: 20px;
            min-width: 20px;
            width:     20px;
        }

        &.button-cell {
            text-align: center;
        }

        .dynamic-value {
            background-color: #333333;
            display:          inline-block;
            font-weight:      400;
            padding:          5px 10px;
            @include m-border-radius(5px);
        }

        select {
            background-color: #ffffff;
            border:           0;
            font-family:      $font-family;
            font-size:        12pt;
            font-weight:      400;
        }

        button {
            font-family: $font-family;
            font-size:   12pt;
            font-weight: 400;
        }

        span.switchery {
            @include m-transform(scale(0.9));
            @include m-transform-origin(left center);
        }

        .help-marker {
            color:     $unhovered-icon-color;
            cursor:    default;
            font-size: 20px;

            &:hover {
                color: create-help-color(55%);
            }
        }

        .help-bubble {
            background-color: create-help-color(25%);
            color:            #ffffff;
            display:          none;
            font-size:        11pt;
            left:             40px;
            padding:          15px 18px;
            position:         absolute;
            top:              10px;
            z-index:          1000;
            @include m-border-radius(12px);
            @include m-box-shadow(0px, 6px, 10px, 5px, hsla(0, 0%, 0%, 0.6));
        }

        .mode-tab {
            background-color: create-control-color(35%, 0.5);
            cursor:           pointer;
            display:          inline-block;
            font-weight:      700;
            margin-right:     1px;
            padding:          5px 15px;

            &:first-child {
                @include m-border-radii(7px, 0px, 7px, 0px);
            }

            &:last-child {
                @include m-border-radii(0px, 7px, 0px, 7px);
            }

            &.mode-tab-active {
                background-color: create-control-color(35%);
            }

            &:not(.mode-tab-active):hover {
                background-color: create-control-color(35%, 0.65);
            }
        }
    }
}

.keyboard-shortcuts-panel .panel-table td {

    &:first-child {
        font-weight: 700;
        text-align:  right;
    }

    &:last-child {
        font-weight: 300;
    }

}

.control-menu-container {
    left:     20px;
    position: absolute;
    top:      55px;
    z-index:  2000;
    @include m-border-radius(4px);
    @include m-box-shadow(0px, 4px, 15px, 5px, hsla(0, 0%, 0%, 0.6));

    a {
        text-decoration: none;
    }

    .control-menu-item {
        background-color: #ffffff;
        color:            #000000;
        cursor:           pointer;
        font-family:      $font-family;
        font-size:        12pt;
        padding:          7px 13px;
        white-space:      nowrap;

        .fa {
            margin-right: 5px;
        }

        &.first-item {
            @include m-border-radii(4px, 4px, 0px, 0px);
        }

        &.last-item {
            @include m-border-radii(0px, 0px, 4px, 4px);
        }

        &:not(.first-item) {
            border-top: 1px solid #dddddd;
        }

        &:hover {
            background-color: create-control-color(35%);
            color:            #ffffff;
        }
    }
}
